<div
  class="flex h-32 flex-col items-center w-4/5 shadow border rounded border-gray-light bg-white p-1 m-1"
>
  {{#link-to "routine" routine.id}}
    {{routine.title}}
  {{/link-to}}

  <div
    class="flex self-end"
  >
    Last activity: 21st June 2019
  </div>
</div>
