<div
    class="flex-auto flex flex-col w-5/6"
  >
    <div
      {{action "register" on="submit"}}
      class="flex flex-col items-center w-full shadow border rounded border-gray-light bg-white"
    >
      {{routine.title}}
    </div>
</div>