<div class="flex justify-center">
  <form class="w-full h-16 p-4 xs:p-0 sm:p-2 flex justify-center items-center">
    <div class="flex flex-col w-1/3 items-center">
      <label for="set.reps" class="text-primary font-semibold p-2 flex items-center"> Reps </label>
      {{input value=set.reps class="text-primary w-full p-2 items-center text-center"}}
    </div>
    <div class="flex flex-col w-1/3 items-center">
      <label for="set.weight" class="text-primary font-semibold p-2 flex items-center"> Weight </label>
      {{input value=set.weight class="text-primary w-full p-2 items-center text-center"}}
    </div>
    <div class="flex flex-col w-1/3 items-center">
      <span class="text-primary font-semibold p-2 flex items-center"> Rest </span>
      {{input disabled=true value=set.rest class="text-primary w-full p-2 items-center text-center"}}
    </div>
  </form>
</div>
