@import 'tailwind.css';
@import "ember-modal-dialog/ember-modal-structure.css";
@import "ember-modal-dialog/ember-modal-appearance.css";

html, body {
  height: 100vh;
  width: 100vw;
}

body > .ember-view {
  height: 100%;
}

.bottom {
  bottom: 0;
}

.no-link {
  text-decoration: none !important;
}

.overlay {
  background: rgba(0,0,0,0);
  transition: .3s ease all;
}

.overlay.show {
  background: rgba(0,0,0,.7);
}

.overlay.show .inner {
  animation: menu-slide-open .3s forwards;
  transition: .3s ease;
}

.overlay .inner {
  transition: .3s ease;
  animation: menu-slide-close .3s forwards;
}

@keyframes menu-slide-open {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(0);
  }
}
@keyframes menu-slide-close {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(100%);
  }
}
