@import 'tailwind.css';
@import "ember-modal-dialog/ember-modal-structure.css";
@import "ember-modal-dialog/ember-modal-appearance.css";

html, body {
  min-height: 100vh;
  width: 100vw;
  font-family: 'DM Sans', sans-serif;
}

body > .ember-view {
  height: 100vh;
}

.bottom {
  bottom: 0;
}

.no-link {
  text-decoration: none !important;
}

.overlay {
  background: rgba(0,0,0,0);
  transition: .3s ease all;
}

.overlay.show {
  background: rgba(0,0,0,.7);
}

.overlay.show .inner {
  animation: menu-slide-open .3s forwards;
  transition: .3s ease;
}

.overlay .inner {
  transition: .3s ease;
  animation: menu-slide-close .3s forwards;
}

@keyframes menu-slide-open {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(0);
  }
}
@keyframes menu-slide-close {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(100%);
  }
}

.ember-power-select-trigger {
  background-color: #f1dadb;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .06);
  color: #bc4b51;
  padding: .25rem;
  display: flex;
  padding-top: .5rem;
  border: none;
  min-width: 100%;
}

.ember-power-select-trigger-multiple-input::placeholder {
  color: #bc4b51;
}

.ember-power-select-multiple-option {
  background-color: white;
  color: #bc4b51;
  border: none;
  margin: 0.25rem;
}

.ember-power-select-status-icon {
  color: #bc4b51;
  border-color: #bc4b51 transparent transparent transparent;
}
