<div
  class="flex-auto h-full flex flex-col flex-grow items-center"
>
  {{title-section title=this.model.title}}

  {{#if this.model.workouts}}
    <section
      class="flex-grow flex flex-col items-center h-full w-full content-around"
    >
      {{#each this.model.workouts as |workout|}}
        {{content-tile content=workout linkRoute="routine.workout" class="w-full flex flex-col items-center"}}
      {{/each}}
      {{#if placeholdersNeeded}}
        {{content-tile-add linkRoute="routine.workout-add" class="w-full flex flex-col items-center"}}
      {{/if}}
    </section>
  {{else}}

  {{/if}}
</div>