<div class="flex-auto h-full flex flex-col flex-grow items-center">
  {{title-section title="Create new workout"}}
  <div class="w-1/2">
    {{#form-for model class="form" as |f|}}
      {{f.text-field "title" fieldClasses="form-field" inputClasses="form-input" labelClasses="form-label"}}

      {{f.submit class="form-button" action=(action "save" model)}}
    {{/form-for}}
  </div>
</div>