<div class="flex-auto h-full flex flex-col flex-grow items-center">
  {{title-section title="Create new workout"}}
  {{#form-for model as |f|}}
    {{f.text-field "title"}}

    {{f.submit action=(action "save" model)}}
  {{/form-for}}
</div>