<div>
  {{#form-for model as |exercise|}}
    {{exercise.number-field "numberOfSets"}}
    {{exercise.number-field "reps"}}
    {{exercise.number-field "rest"}}

    {{exercise.submit action=(action "save" model)}}
  {{/form-for}}
</div>