{{#swiper-container
  class="flex flex-auto w-full h-full"
}}
    {{#swiper-slide}}
      <div class="w-full h-full">
        hi
      </div>
    {{/swiper-slide}}
    {{#swiper-slide}}
      <div class="w-full h-full">
        hi 2
      </div>
    {{/swiper-slide}}
{{/swiper-container}}