<div
  class="flex-auto h-full flex flex-col flex-grow items-center"
>
  {{title-section title="Routines"}}

  {{#if this.model}}
    <section
      class="flex-grow flex flex-col items-center h-full w-full content-around"
    >
      {{#each this.model as |routine|}}
        {{routine-tile routine=routine class="w-full flex flex-col items-center"}}
      {{/each}}
    </section>
  {{else}}

  {{/if}}
</div>
